.git
.github
**/bin
**/obj
**/node_modules
**/.vs
**/TestResults
artifacts/*
!artifacts/farm-sandbox-chickens/
artifacts/farm-sandbox-chickens/*
!artifacts/farm-sandbox-chickens/linux-x64/
!artifacts/farm-sandbox-chickens/linux-x64/**
.env
.env.*
**/.env
**/.env.*
secrets/
**/secrets/
secret/
**/secret/
.secrets/
**/.secrets/
Secrets/
**/Secrets/
Secret/
**/Secret/